__pycache__/
# 動作中に内容の書き加えや追加が多発する場所
*.pyc
*.log
*.json
app.pid
DONE/
ERROR/
logs/
recorder_log.txt

# 設備に合わせて調整するので
Setting.ini

# pyinstaller main.py --onedir --noconsole --cleanで作成したソフトとフォルダー
dist/
build/

# 仮想環境
venv/
venv32/